@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'fonts.css';
@import 'roots.css';
@import 'progress-bar.css';

body,
html {
  width: 100%;
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Inter var, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
  transition: background 300ms ease-in-out, color 100ms ease-in-out;
}
/* scroll-behavior: smooth; */

* {
  transition: background 500ms ease-in-out, color 50ms ease-in-out;
}

html,
body {
  @apply text-dark-600;
  @apply bg-white;
}

.text-shadow {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #fff !important;
}

h1,
h2,
h3,
h4,
h5 {
  @apply text-dark-700;
}

a {
  @apply hover:opacity-70;
}

p > a {
  @apply underline;
  @apply text-primary-500;
}

blockquote * p {
  margin-top: 0 !important;
}

pre::-webkit-scrollbar,
code::-webkit-scrollbar {
  display: none;
}

.shadow-text {
  text-shadow: 3.92149px 3.92149px 13.0716px rgba(227, 141, 12, 0.3);
}

.text-gradient {
  background: linear-gradient(123.91deg, #ffcd1b -5.26%, #e35a0c 102.43%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-gradient {
  box-shadow: 3.92149px 3.92149px 13.0716px rgba(227, 141, 12, 0.3),
    inset -2.61432px -2.61432px 5.22865px rgba(255, 27, 27, 0.25),
    inset 2.61432px 2.61432px 5.22865px rgba(157, 104, 0, 0.25);
}

.bg-gradient:hover {
  box-shadow: none;
}

.code_container::-webkit-scrollbar {
  display: none;
}

code[class*='language-'],
pre[class*='language-'] {
  font-family: 'Ubuntu Mono', Consolas, Monaco, 'Andale Mono', monospace;
}
