@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  z-index: -2;
  overflow-x: hidden;
  line-height: 2 !important;
  font-size: 18px !important;
}

pre,
code {
  overflow: scroll;
  scrollbar-width: 0;
  line-height: 1.7;
  font-size: 15px !important;
}

pre::-webkit-scrollbar,
code::-webkit-scrollbar {
  display: none;
}

.custom-text {
  font-family: "Satisfy", cursive;
}

.custom-bg {
  background: #5c6ac4;
  background: linear-gradient(to right, #5c6ac4, #67eed5);
  clip-path: polygon(0 0, 100% 0, 100% 96%, 0% 100%);
}

a:hover {
  /* text-decoration: underline; */
  background-position: right center;
  color: #5c6ac4;
}

blockquote {
  padding: 0.7rem;
  border-radius: 0.3rem;
  font-family: sans-serif;
  background: #5c6ac409;
  border-left: 4px solid #5c6ac4;
  font-size: 0.9rem;
  font-style: italic;
}

/* blockquote:hover {
  background-color: #5c6ac4;
  background-color: #fffaff;
} */

img {
  margin: 1rem 0;
}

footer {
  clip-path: polygon(1% 5%, 100% 1%, 100% 100%, 0% 100%);
  background: #32bfbd;
  background: linear-gradient(114deg, rgba(50, 191, 189, 1) 0%, #2d54fd 100%);
}

em {
  /* color: #5c6ac4; */
  background: #fad00085;
  /* background: #5c6ac409; */
  font-style: normal;
}

em:hover {
  background: #fad000;
}

.custom-button {
  background: linear-gradient(to right, #304adbb7 0%, #26d0cda4 51%, #304adb9c 100%);
  transition: 0.5s;
  background-size: 200% auto;
}

.custom-button-transparent {
  background: linear-gradient(to right, #304adb27 0%, #26d0cd4b 51%, #304adb67 100%);
  transition: 0.5s;
  background-size: 200% auto;
}

.custom-button:hover:after,
.custom-button-transparent:hover:after {
  content: " ➻";
}

.custom-button-transparent:hover {
  background-position: right center;
}

.custom-button:hover {
  background-position: right center;
}

button,
button:focus {
  outline: none;
}
