@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  z-index: -2;
  overflow-x: hidden;
  line-height: 2 !important;
  font-size: 18px !important;
  font-family: "Roboto", sans-serif;
  background-color: #fdfdfd !important;
}

pre,
code {
  overflow: scroll;
  scrollbar-width: 0;
  line-height: 1.7;
  font-size: 15px !important;
}

pre::-webkit-scrollbar,
code::-webkit-scrollbar {
  display: none;
}

.custom-text {
  font-family: "Satisfy", cursive;
}

.custom-bg {
  background: #5c6ac4;
  background: linear-gradient(to right, #5c6ac4, #67eed5);
  /* background-image: url(/images/home-bg.svg); */
  /* clip-path: polygon(0 0, 100% 0, 100% 96%, 0% 100%); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.custom-bg2 {
  background: linear-gradient(
    to right,
    #304adbb7 0%,
    #26a8d0a4 51%,
    #304adb9c 100%
  );
  transition: 0.5s;
  background-size: 200% auto;
}

.custom-bg2:hover {
  background-position: right center;
}

a:hover {
  /* text-decoration: underline; */
  background-position: right center;
  color: #5c6ac4;
}

blockquote {
  padding: 0.7rem;
  border-radius: 0.3rem;
  font-family: sans-serif;
  background: #5c6ac409;
  border-left: 4px solid #5c6ac4;
  font-size: 0.9rem;
  font-style: italic;
}

/* blockquote:hover {
  background-color: #5c6ac4;
  background-color: #fffaff;
} */

footer {
  /* clip-path: polygon(1% 5%, 100% 1%, 100% 100%, 0% 100%); */
  /* clip-path: polygon(50% 0%, 100% 35%, 100% 100%, 0 99%, 0 34%); */
  background: #32bfbd;
  background: linear-gradient(114deg, rgba(50, 191, 189, 1) 0%, #2d54fd 100%);
  /* padding: 1rem 0; */
}

em {
  /* color: #5c6ac4; */
  background: #fad00085;
  /* background: #5c6ac409; */
  font-style: normal;
}

em:hover {
  background: #fad000;
}

.custom-button {
  background: linear-gradient(
    to right,
    #304adbb7 0%,
    #26d0cda4 51%,
    #304adb9c 100%
  );
  transition: 0.5s;
  background-size: 200% auto;
}

.custom-button-transparent {
  background: linear-gradient(
    to right,
    #304adb27 0%,
    #26d0cd4b 51%,
    #304adb67 100%
  );
  transition: 0.5s;
  background-size: 200% auto;
}

.custom-button:hover:after,
.custom-button-transparent:hover:after {
  content: " ➻";
}

.custom-button-transparent:hover {
  background-position: right center;
}

.custom-button:hover {
  background-position: right center;
}

button,
button:focus {
  outline: none;
}

/* test */

.bar {
  background: #191919;
  height: 36px;
  border-radius: 0.5rem 0.5rem 0 0;
  margin-bottom: -16px;
}

.btn,
.btn::before,
.btn::after {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  display: block;
}

.btn {
  background: #f6b73e;
  position: relative;
  margin-left: 38px;
  top: 12px;
}
.btn::before,
.btn::after {
  content: " ";
  position: absolute;
}
.btn::before {
  background: #f55551;
  margin-left: -20px;
}
.btn::after {
  background: #32c146;
  margin-left: 20px;
}
.bg-2 {
  /* height: 70vh; */
  /* background-color: #000; */
  /* z-index: -10; */
  clip-path: polygon(0 0, 100% 0, 100% 96%, 0% 100%);
}
.bg-image {
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0.35;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-position: center;
}

.card-height {
  height: 24rem;
  line-height: 1.3;
}

.card-bg {
  transition: 0.3 s ease-in-out;
  /* height: 220px; */
  height: 100%;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.card-height:hover .card-bg {
  opacity: 0.5 !important;
}

/* Refactoring ui */

.bg-gradient {
  background: linear-gradient(99.9deg, #0763ce 3.39%, #26d9d9 114.72%);
}
