@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  z-index: -2;
  overflow-x: hidden;
  line-height: 2 !important;
  font-size: 18px !important;
}

pre,
code {
  overflow: scroll;
  scrollbar-width: 0;
}

pre::-webkit-scrollbar,
code::-webkit-scrollbar {
  display: none;
}

.custom-text {
  font-family: "Satisfy";
}

.custom-bg {
  background: #5c6ac4;
  background: linear-gradient(to right, #5c6ac4, #67eed5);
  clip-path: polygon(0 0, 100% 0, 100% 96%, 0% 100%);
}

a:hover {
  /* text-decoration: underline; */
  background-position: right center;
  color: #5c6ac4;
}

blockquote {
  padding-left: 0.7rem;
  background: #f4f4f4;
  border-left: 4px solid #5c6ac4;
}

blockquote:hover {
  background-color: #fafafa;
}

img {
  margin: 1rem 0;
}

footer {
  clip-path: polygon(1% 5%, 100% 1%, 100% 100%, 0% 100%);
  background: rgb(50, 191, 189);
  background: linear-gradient(114deg, rgba(50, 191, 189, 1) 0%, #2d54fd 100%);
}

em {
  color: #32bfbd;
  background: #f4f4f4;
  font-style: normal;
}

.custom-button {
  background: linear-gradient(
    to right,
    #304adbb7 0%,
    #26d0cda4 51%,
    #304adb9c 100%
  );
  transition: 0.5s;
  background-size: 200% auto;
}

.custom-button-transparent {
  background: linear-gradient(
    to right,
    #304adb27 0%,
    #26d0cd4b 51%,
    #304adb67 100%
  );
  transition: 0.5s;
  background-size: 200% auto;
}

.custom-button-transparent:hover {
  background-position: right center;
}

.custom-button:hover {
  background-position: right center;
}
